body {
  background-color: #00b59f;
  color: white;
  text-align: center;
}
nav {
  display: flex;
  justify-content: flex-end;
}
.navLink {
  color: white;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Zilla Slab", serif;
}
#homeNav {
  margin-right: auto;
}

h1 {
  font-size: 44px;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 2px;
}

h2 {
  font-size: 24px;
  font-family: "Zilla Slab", serif;
  font-weight: lighter;
}
